<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Buisness connect</h2>

    <form action="/connect" method="post" onsubmit="return check()">


        <input type="text" name="buisness" placeholder="Buisness Name" required>
        <br>
        <input type="text" name="email" placeholder="email" required>
        <br>
        <input type="text" name="contact" placeholder="contact no" required>
        <br>
        <input type="text" name="address" placeholder="Address" required>
        <br>
        <input type="text" name="btype" placeholder="Buisness Type" required>
        <br>
        <input type="text" name="taxid" placeholder="Tax id" required>
        <br>
        <input type="password" name="psw" id="psw" placeholder="password" required>
        <br>
        <input type="password" name="psw-r" id="pswr" placeholder="confirm password" required>
        <br>
        <textarea name="buisnessdescription" id="comment" cols="20" rows="5" placeholder="Buisness Desc.."></textarea>
        <br>
        <textarea name="additionalinfo" id="comment" cols="20" rows="5" placeholder="Additional Info.."></textarea>
        <br>
        <input type="submit" value="verify">

    </form>

    <script type="text/javascript">
        var pas = document.getElementById("psw").value;
        var pasr = document.getElementById("pswr").value;

        function check() {
            if (pas !== psr) {
                alert("Passwords do not match.");
                return false;
            } else if (elm.value.length === 0) {
                alert("Please enter confirm password.");
                return false;
            }
            else{
                return true;
            }
        }
    </script>

</body>

</html>